html {
    margin: 0;
    background-color: #fff;
    cursor: default;
    padding: 0;
    border: none;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

#intro-text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    background:#F1E4D5;
}
.name {
    font-family: "cormorant-garamond", serif;
    font-style: normal;
    font-weight: 200;
    margin: 0px;
    color: #371A2E;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2;
    opacity: 0;
    
    /* background-color: white; */
}
#play-title {
    font-size: 30pt;
    animation: fadeIn 1s ease 0s 1 forwards;
    width: 1000px;
    margin-top: -25px;
}
#ji {
    font-size: 30pt;
    margin-top: 10px;
    margin-left: -67px;
    margin-bottom: 0px;
    animation: fadeIn 1s ease 0s 1 forwards;
    z-index: 1;
}
#ki {
    font-size: 30pt;
    margin-top: 50px;
    margin-left: 35px;
    margin-bottom: 0px;
    animation: fadeIn 1s ease 0s 1 forwards;
    z-index: 0;
}
#left-arrow {
    margin: 32px 320px 0 0;
    height: 40px;
    z-index: 1;
    /* animation: arrowColors 30s linear 0s infinite forwards; */
    animation: fadeIn 1s ease 0.5s 1 forwards, left-arrow-rotate 1s ease 0.6s 1 normal;
    opacity: 0;
    filter: grayscale(80%);
}

#right-arrow {
    margin: 0px 0px -40px 0px;
    top: 30px;
    height: 39px;
    z-index: 1;
    /* animation: arrowColors 30s linear 0s infinite forwards; */
    animation: fadeIn 1s ease 1s 1 forwards, right-arrow-rotate 1s ease 1.1s 1 normal;
    opacity: 0;
    filter: grayscale(80%);
}

@keyframes left-arrow-rotate {
    0% {
        transform: rotate(90deg) translateY(-50px)
    }
    100% {
        transform: rotate(0deg) translateX(0px)
    }
}
@keyframes right-arrow-rotate {
    0% {
        transform: rotate(-90deg) translateY(-50px)
    }
    100% {
        transform: rotate(0deg) translateX(0px)
    }
}
.pronunciation {
    font-family: "stevie sans";
    font-size: 16px;
    font-weight: 200;
    color: #575050;
    white-space: nowrap;
    opacity: 0;
    /* animation: pronuncColors 30s linear 0s infinite forwards; */
    
}

#pronunc-ji {
    margin: 10px 400px 0 0;
    transition: opacity 1s;
    transition-delay: 0.5s;
    animation: fadeIn 1.25s ease 0.7s 1 forwards;
}
#pronunc-ki {
    margin: 15px 0 0 405px;
    transition: opacity 1s;
    transition-delay: 0.5s;
    animation: fadeIn 1.25s ease 1.2s 1 forwards;
}
h1 {
    font-family: 'cormorant-garamond', serif;
    margin-top: 80px;
    font-weight: 200;
    line-height: 1.5;
    font-size: 24px;
    color: #575050;
}
h2 {
    margin: 0 0 16px 0;
    font-family: 'cormorant-garamond', serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    color: black; 
}
h3 { 
    margin: 10px 0 0 0;
    font-family: 'stevie sans', sans-serif;
    letter-spacing: .02em;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: #8b7c85; 
}
.caption-text {
    font-size: 16px;
    font-family: 'stevie sans', sans-serif;
    font-weight: 200;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 16px;
}
.no-bottom-margin {
    margin-bottom: 0 !important;
}
ul {
    margin-top: 0;
}

strong {
    font-weight: 500;
}
a {
    text-decoration: none;
}

#background-images {
    position: absolute;
    top: 0;
    z-index: 0;
    margin-top: 0;
}
#night-sky {
    top: 0;
    width: 100vw;
    position: absolute;
    z-index: 0;
}
#light-shape {
    top: 0;
    width: 100vw;
    z-index: 1;
    position: absolute;
    animation: fadeIn 1.5s 1;
}
#circle {
    top: 0;
    width: 100vw;
    z-index: 2;
    position: absolute;
    filter: drop-shadow(0px 0px 5px #ffffff);
    animation: fadeIn 1s 1;
}
#top-color {
    height: 70px;
    width: 100vw;
}
#navbar {
    top: 20px;
    position: fixed;
    right: 20px;
    z-index: 10;
    height: 70px;
    width: 100vw;
}
#navbar-text {
    display: flex;
    justify-content: flex-end;
    z-index: 11;
}
.nav-item {
    font-family: 'cormorant-garamond', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 0 15px 0 15px;
    color: #371A2E;
    transition: 0.2s;
}
.nav-item:hover {
    opacity: .6;
    transition: 0.2s;
}

#name-and-tagline {
    width: 800px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 8%;
    max-width: 90%;
    animation: fadeIn 2s 1;
}

#tagline {
    font-family: 'stevie sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
    z-index: 4;
}
#home-page-content {
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s 1;
    background-color: #FFF;
}

.featured-project-tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-right: 10px;
    flex-wrap: wrap;
}
#featured-projects-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 90%;
}

.featured-proj-img {
    width: 500px;
    transition: 0.3s;
    max-width: 90%;
    border-radius: 0;
    margin-right: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}
.featured-proj-img:hover {
    filter: saturate(1.2);
    transition: 0.3s;
    transform: scale(1.02);
}
.tile-text {
    width: 300px;
    margin: 0;
}
.etc-project-tile {
    display: flex;
    flex-direction: column;
    margin: 25px;
}
#etc-projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1250px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background-color: #FFF;
}
.etc-proj-img {
    max-height: 300px;
    width: 525px;
    transition: 0.2s;
    max-width: 100%;
    border-radius: 0;
}
.etc-proj-img:hover {
    filter: saturate(1.2);
    transition: 0.2s;
}
#no-hover:hover {
    filter: none;
    opacity: 1;
}
#bottom-bar {
    margin-top: 0px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 100%;
}
#bottom-bar-background {
    min-width: 100vw;
    width: 500px;
    height: 175px;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    vertical-align: top;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #ffddbd;
}
#home-bottom-bar-background {
    min-width: 100vw;
    width: 500px;
    height: 175px;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    vertical-align: top;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #eee5d7;
}
#bottom-bar-content {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 17px;
}

.bottom-bar-text {
    color: #371A2E;
    margin-bottom: -10px;
    font-size: 14px;
    font-family: 'stevie sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
#email-link {
    transition: 0.2s;
    margin-top: 18px;
}
#email-link:hover {
    transition: 0.2s;
    opacity: 0.7;
}
.bottom-serif {
    font-family: 'cormorant-garamond', serif;
    font-size: 22px;
    line-height: 1;
}
.bottom-small {
    margin-top: 30px;
    font-size: 14px;
}

/* DIVIDE PAGE */
#divide-background {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
}
#divide-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divide-page {
    margin-top: -60px;
    width: 100%;
    max-width: 1100px;
}
.final-solution-section {
    margin-top: 60px;
    width: 100%;
}
#gig-final {
    background-color: #edf9fa;
}

#divide-final {
    background-color: #fff2ea;
}
/* CITY PAGE */
.page-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.page-title {
    font-family: 'cormorant-garamond', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 36px;
    color: black;  
    line-height: 1;
    margin-bottom: 0px;
    padding-top: 40px;
    text-align: left;
}
.page-tagline {
    margin: 10px 0 0 0;
    font-family: 'stevie sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: gray;
}
.page-text {
    margin-top: 30px;
    font-family: 'stevie sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #575050;
    max-width: 700px;
    text-align: left;
    margin-bottom: 0;
}
.page-text-contd {
    margin-top: 20px;
    font-family: 'stevie sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #575050;
    max-width: 700px;
    text-align: left;
    margin-bottom: 0px;
}

.waterfall-tiles-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
}
.city-tile {
    width: 350px;
    margin: 15px;
}

/*VOM PAGE*/
.text-title {
    font-family: 'stevie sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: black;  
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
    margin-top: 60px;
}

#short-margin {
    margin-top: 0px;
}
.text-title-2 {
    font-family: 'stevie sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #776b6b;  
    line-height: 1.2;
    margin-bottom: 0;
    text-align: left;
    margin-top: 30px;
}
.text-page-img {
    width: 700px;
    margin-top: 30px;
    max-width: 100%;
    height: 100%;

}
.single-screen {
    height: 100%;
    max-height: 470px;
    margin-top: 60px;
}
@media screen and (max-width: 600px) {
    .single-screen {
        max-height: 300px;
        margin-top: 60px;
        margin-bottom: 0px;
        overflow: hidden;
    }
    a .featured-proj-img {
        width: 100%;
        margin-right: 0;
        margin-left: 20px;
        
    }
    .featured-proj-img {
        width: 100%;
        margin-right: 0;
        margin-left: 20px;
    }
    #intro-text {
        padding-top: 50px;
        padding-bottom: 150px;
    }
    .pronunciation {
        display: none;
    }
    
    #left-arrow {
        display: none;
    }
    #right-arrow {
        display: none;
    }
    .text-section-rows {
        flex-wrap: wrap;
    }
}

.small {
    margin-left: -10px;
    height: 450px;
    margin-bottom: -20px;
    margin-top: 20px;
}
#problem-sequence-margin {
    margin-top: 60px;
}
.top-vom-img {
    width: 700px;
    margin-top: 80px;
    margin-bottom: -40px;
    max-width: 100%;
}
.text-section {
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 90%;
}
.text-section-rows {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    flex-direction: row;
    gap: 5%;
    width: 700px;
    max-width: 90%;
    flex-wrap: none;
}
.third {
    width: 230px;
}
.rows-no-wrap {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    flex-direction: row;
    gap: 5%;
    width: 1000px;
    max-width: 90%;
    flex-wrap: none;
}
.align-center {
    align-items: center;
}
.text-link {
    color:rgb(77, 147, 204);
    transition: 0.2s;
}
.text-link:hover {
    text-decoration: underline;
    transition: 0.2s;
}
/* ART PAGE */
.art-tiles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1140px;
    max-height: 1000px;
}
/* ABOUT PAGE */
#profile-img {
    margin: 100px 0 -50px 0;
    max-height: 400px;
    max-width: 100%;
    animation: fadeIn 0.2s 1;
    opacity: 95%;
}
.padding-top {
    padding-top: 30px;
}
.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}